.build
properties
tags
yeti.jar
yeti-lib.jar
asm-5.0.3r.jar
doc/*.html
doc/_*.aux
doc/_*.latex
doc/_*.log
doc/_*.out
doc/_*.toc
doc/*.pdf
examples/war/demo.war
examples/war/j2ee.jar
examples/war/target
